In [1]:
# loops

# What is loops

In [2]:
# while loop

# for loop

# Do while loop

In [3]:
for i in "krishna":
    print(i)

k
r
i
s
h
n
a

In [9]:
a="krishna"
i=0
while i<len(a):
    print(a,[i])
    i+=1

krishna [0]
krishna [1]
krishna [2]
krishna [3]
krishna [4]
krishna [5]
krishna [6]

In [11]:
# initializer
# while condition:
#       statements(s)
#       increment/decrement

In [14]:
i=0
while i<10:
    print("hello world")
    i+=1

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [15]:
i=0
while i<10:
    print(i,"hello world")
    i+=1

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world
5 hello world
6 hello world
7 hello world
8 hello world
9 hello world

In [17]:
i=0
while i<10:
    print(i+1,"hello world")
    i+=1

1 hello world
2 hello world
3 hello world
4 hello world
5 hello world
6 hello world
7 hello world
8 hello world
9 hello world
10 hello world

In [18]:
i=1
while i<11:
    print(i,"hello world")
    i+=1

1 hello world
2 hello world
3 hello world
4 hello world
5 hello world
6 hello world
7 hello world
8 hello world
9 hello world
10 hello world

In [20]:
# iterator: for loop and while loop (__iter__(),__next__())
# iterable: __iter__()
# iteration:

In [22]:
# while loop
# break
# continue
# else
# pass
# nested while loop
# single while loop pattern
# multi while loop pattern

In [23]:
i=0
while i<10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [27]:
i=0
while i<10:
    if i==4:
        i=i+1
        continue
    print(i)
    i=i+1

0
1
2
3
5
6
7
8
9

In [28]:
i=0
while i<10:
    if i==4:
        i=i+1
        break
    print(i)
    i=i+1

0
1
2
3

In [29]:
i=0
while i<10:
    if i==4:
        print("i am manish")
        break
    print(i)
    i=i+1

0
1
2
3
i am manish

In [30]:
i=0
while i<10:
    if i==4:
        print("i am manish")
        i+=1
        break
    print(i)
    i=i+1

0
1
2
3
i am manish

In [31]:
i=0
while i<10:
    if i==4:
        print("i am manish")
        i+=1
        continue
    print(i)
    i=i+1

0
1
2
3
i am manish
5
6
7
8
9

In [32]:
i=0
while i<10:
    if i==4 or i==6:
        print("i am manish")
        i+=1
        continue
    print(i)
    i=i+1

0
1
2
3
i am manish
5
i am manish
7
8
9

In [34]:
i=0
while i<10:
    if i==4:
        print("i am manish")
        i+=1
    if i==6:
        print("i am student")
        i+=1
    if i==9:
        print("i am a engineer")
        i+=1
        continue
    print(i)
    i=i+1

0
1
2
3
i am manish
5
i am student
7
8
i am a engineer

In [35]:
i=0
while i<10:
    if i==4:
        print("i am manish")
        i+=1
    if i==6:
        print("i am student")
        i+=1
    if i==9:
        print("i am a engineer")
        i+=1
        continue
    print(i+1)
    i=i+1

1
2
3
4
i am manish
6
i am student
8
9
i am a engineer

In [36]:
i=0
while i<10:
    if i==4:
        print("i am manish")
        i+=1
    if i==6:
        print("i am student")
        i+=1
    if i==9:
        print("i am a engineer")
        i+=1
        continue
    print(i)
    i=i+1
else:
    print("good bye")

0
1
2
3
i am manish
5
i am student
7
8
i am a engineer
good bye

In [37]:
i=0
while i<10:
    if i==4:
        print("i am manish")
        i+=1
    if i==6:
        print("i am student")
        i+=1
        break
    if i==9:
        print("i am a engineer")
        i+=1
        continue
    print(i)
    i=i+1
else:
    print("good bye")

0
1
2
3
i am manish
5
i am student

In [45]:
# for loop
# break
# continue
# else
# pass
# nested for loop
# single for loop pattern
# multi for loop pattern
# list comprehension
# dictionary comprehension
# set comprehension

In [39]:
a=[1,2,3,4,5,6,7,8,9]
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9

In [40]:
a=[1,2,3,4,5,6,7,8,9]
for i in a:
    if i==4 or i==6:
        continue
    print(i)

1
2
3
5
7
8
9

In [41]:
a=[1,2,3,4,5,6,7,8,9]
for i in a:
    if i==4 or i==6:
        break
    print(i)

1
2
3

In [42]:
a=[1,2,3,4,5,6,7,8,9]
for i in a:
    if i==4 or i==6:
        print("loop is breaked now")
        break
    print(i)

1
2
3
loop is breaked now

In [43]:
a=[1,2,3,4,5,6,7,8,9]
for i in a:
    if i==4 or i==6:
        print("loop is breaked now")
        continue
    print(i)

1
2
3
loop is breaked now
5
loop is breaked now
7
8
9

In [44]:
a=[1,2,3,4,5,6,7,8,9]
for i in a:
    if i==4 or i==6:
        print("loop is breaked now")
        continue
    print(i)
else:
    print("good bye")

1
2
3
loop is breaked now
5
loop is breaked now
7
8
9
good bye

In [46]:
# neated loop

In [47]:
# *
# **
# ***
# ****
# *****

In [48]:
print("*"*1)
print("*"*1)
print("*"*1)
print("*"*1)
print("*"*1)

*
*
*
*
*

In [49]:
print("*"*1)
print("*"*2)
print("*"*3)
print("*"*4)
print("*"*5)

*
**
***
****
*****

In [50]:
"krishna"*5

'krishnakrishnakrishnakrishnakrishna'

In [52]:
for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

In [53]:
for i in range(1,6):
    print(i,"*"*i)

1 *
2 **
3 ***
4 ****
5 *****

In [54]:
range(10)

range(0, 10)

In [55]:
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [56]:
import sys

In [58]:
a=range(10)

In [59]:
a

range(0, 10)

In [60]:
sys.getsizeof(a)

48

In [61]:
b=[0,1,2,3,4,5,6,7,8,9]

In [62]:
sys.getsizeof(b)

136

In [63]:
c=range(0,10000)

In [64]:
c

range(0, 10000)

In [65]:
sys.getsizeof(c)

48

In [66]:
cont=[i for i in range(0,1000)]

In [67]:
print(cont)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999]

In [68]:
sys.getsizeof(cont)

8856

In [69]:
range(1,10,1)

range(1, 10)

In [71]:
e=range(1,10,2)

In [73]:
print(sys.getsizeof(e))

48

In [75]:
import numpy as np

In [76]:
np.arange(1,10)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [77]:
np.arange(1,10,2)

array([1, 3, 5, 7, 9])

In [78]:
np.arange(1,10,1)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [80]:
d=range(1,10,2)
for i in d:
    print(i)

1
3
5
7
9

In [81]:
d=range(10,1,-2)
for i in d:
    print(i)

10
8
6
4
2

In [83]:
for i in range(5):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****

In [84]:
for i in range(5):
    for j in range(i+1):
        print("*",end="")
    print()

*
**
***
****
*****

In [1]:
i=0
while i<5:
    j=0
    while j<i+1:
        print("*",end=" ")
        j+=1
    print()
    i+=1

*
* *
* * *
* * * *
* * * * *