In [ ]:
# nested function

In [1]:
# nested function

In [2]:
def manish():
    print("i am student")

In [3]:
manish()

i am student

In [4]:
print("i am rahul")
manish()

i am rahul
i am student

In [6]:
def rakesh(manish):
    def rahul():
        print("i am krishna")
        manish()
    return rahul

b=rakesh(manish)
b()

i am krishna
i am student

In [7]:
def rakesh(arg):
    def rahul():
        print("i am krishna")
        arg()
    return rahul

b=rakesh(manish)
b()

i am krishna
i am student

In [9]:
def rakesh(arg):
    def rahul():
        print("i am krishna")
        arg()
    return rahul


@rakesh
def manish():
    print("i am student")

In [10]:
manish()

i am krishna
i am student