In [1]:
for i in range(5):
    print("hello world")

hello world
hello world
hello world
hello world
hello world

In [2]:
print("this is manish")

this is manish

In [3]:
def manish():
    for i in range(5):
        print("i am manish")

In [4]:
manish()

i am manish
i am manish
i am manish
i am manish
i am manish

In [5]:
def krishna(a):
    for i in range(a):
        print("i am student")

In [6]:
krishna(4)

i am student
i am student
i am student
i am student

In [11]:
def krishna(a):
    if type(a)==str:
        print("i am krishna")
    else:
        for i in range(a):
            print("hello world")

In [12]:
krishna("manish")

i am krishna

In [1]:
def manish():
    print("i am krishna")
    print("i am student")

In [2]:
manish()

i am krishna
i am student

In [3]:
# positional argument

In [4]:
def intro(name,position):
    print("i am {}".format(name))
    print(f"i am {position}")

In [5]:
intro("manish","engineer")

i am manish
i am engineer

In [6]:
# keyvalue argument

In [7]:
def rohan(name,position="superstar"):
    print("i am {}".format(name))
    print(f"i am {position}")

In [8]:
rohan("manish")

i am manish
i am superstar

In [9]:
rohan("manish","good boy")

i am manish
i am good boy

In [10]:
def shyam(name="manish",position="developer"):
    print("i am {}".format(name))
    print(f"i am {position}")

In [11]:
shyam()

i am manish
i am developer

In [12]:
shyam("dilip","desinger")

i am dilip
i am desinger

In [14]:
def add(a,b):
    print(a+b)

In [15]:
add(3,5)

8

In [16]:
a=add(3,5)

8

In [17]:
print(a)

None

In [20]:
def add2(a,b):
    return a+b

In [21]:
add2(4,5)

9

In [22]:
b=add2(4,5)

In [23]:
print(b)

9

In [24]:
def krishna(a):
    if a==1:
        print("one")
    elif a==2:
        print("two")
    elif a==3:
        print("three")
    else:
        print("good bye")

In [25]:
a=krishna(1)

one

In [26]:
a=krishna(2)

two

In [27]:
print(a)

None

In [28]:
def krishna(a):
    if a==1:
        manish="one"
    elif a==2:
        manish="two"
    elif a==3:
        manish="three"
    else:
        manish="good bye"

    return manish

In [29]:
a=krishna(1)

In [30]:
print(a)

one

In [31]:
def krishna(a):
    if a==1:
        return "one"
    elif a==2:
        return "two"
    elif a==3:
        return "three"
    else:
        return "good bye"

In [32]:
krishna(1)

'one'

In [33]:
a=krishna(1)

In [34]:
print(a)

one

In [35]:
a=krishna(2)

In [36]:
print(a)

two

In [37]:
def add(a,b):
    return a+b

In [38]:
add(4,5)

9

In [39]:
a=lambda a,b:a+b

In [40]:
a(3,5)

8

In [41]:
b=lambda a,b=0:a+b

In [42]:
b(2)

2

In [43]:
b(3,5)

8