In [1]:
print("hello")

hello

In [2]:
#string data type

1. string constructor is str()
2. string literal is '',"",'''''',""""""

SyntaxError: invalid syntax (2335927104.py, line 3)

In [3]:
a=str()     #creating string using str()

In [4]:
a

''

In [5]:
a
print(type(a))

<class 'str'>

In [6]:
print(a)
print(type(a))

<class 'str'>

In [7]:
b=''

In [8]:
b

''

In [10]:
print(type(b))

<class 'str'>

In [1]:
a

NameError: name 'a' is not defined

In [2]:
a=" "

In [3]:
a

' '

In [4]:
a=str()

In [5]:
a

''

In [8]:
c=''' '''
print(c,type(c))
c

  <class 'str'>

' '

In [9]:
d=""""""
print(d,type(d))

 <class 'str'>

In [10]:
d

''

In [11]:
print(d)

In [12]:
print(id(d))

140716927760096

In [13]:
d+"krishna"

'krishna'

In [16]:
e=d+"krishna"
id(e)

2264789599728

In [17]:
a=10

In [18]:
b=10

In [19]:
id(a)

140716927738952

In [20]:
id(b)

140716927738952

In [23]:
a=""       #this is empty string
print(id(a))
b=" "     # this is not empty string beacuse space is also a character out of 1.4 million unicode charactor.
print(a)
print(b)

140716927760096

In [24]:
a="krishna"
print(id(a))

2264789599728

In [25]:
a="krishna"

In [26]:
print(a)

krishna

In [27]:
id(a[0])

140716927785264

In [28]:
a[0]

'k'

In [29]:
#string is a set of sequence of character.

In [30]:
a="krishna"

In [32]:
print(a)

krishna

In [33]:
a[0]

'k'

In [34]:
print(a[0])    #indexing --> string support indexing (positive indexing)

k

In [35]:
print(a[6])

a

In [37]:
print(a[10])   #index 10 is not available in a=krishna

IndexError: string index out of range

In [39]:
print(a[-7])    # indexing --> negative indexing

k

In [40]:
print(a[-1])

a

In [41]:
print(a[-0])

k

In [42]:
print(a[0])

k

In [43]:
#alicing --> string support slicing.

In [44]:
name="priya"

In [46]:
print(name[1:3])

ri

In [47]:
print(name[1:3:1])

ri

In [48]:
print(name[1:3:2])

r

In [50]:
print(name[0:3:1])

pri

In [51]:
print(name[:3:1])

pri

In [52]:
print(name[0::1])

priya

In [53]:
print(name[0:4:1])

priy

In [8]:
name="priya"

In [9]:
print(name)

priya

In [10]:
print(name[0:len(name)+1:1])

priya

In [11]:
print(name[0:len(name):1])

priya

In [12]:
print(name[::])

priya

In [13]:
print(name[10000:100000:100])

In [14]:
a="sfjafjgsjhkfkhafkskfkjfkjhfsfflaflhflkhf"
import re 
re.sub("[f]"," ",a)

's ja jgsjhk kha ksk kj kjh s  la lh lkh '

In [15]:
a="sfjafjgsjhkfkhafkskfkjfkjhfsfflaflhflkhf"
import re 
re.sub("[^f]"," ",a)

' f  f      f   f   f  f   f ff  f  f   f'

In [17]:
a="sfjafjgsjhkfkhafkskfkjfkjhfsfflaflhflkhf"
import re 
re.sub("[^f]","",a)

'ffffffffffff'

In [34]:
a="Manish.Kuamr.shrivstva"
import re
re.sub("[^m.^k]","",a)

'.m.'

In [27]:
a="Manish"
b="Kumar"
c="Shrivastva"
import re
re.sub("[^m]",a)
re.sub("[^k]",b)
re.sub("[^sh]",c)

TypeError: sub() missing 1 required positional argument: 'string'

In [35]:
name[::]

'priya'

In [36]:
a="krishna"

In [37]:
a[::-1]

'anhsirk'

In [38]:
a[-1:-8:-1]

'anhsirk'

In [39]:
a[-1:-10000:-1]

'anhsirk'

In [41]:
num="0123456789"

num[::1]

'0123456789'

In [42]:
num="0123456789"

num[0:len(num):2]

'02468'

In [43]:
num="0123456789"

num[1:len(num):2]

'13579'

In [44]:
num

'0123456789'

In [45]:
list(num)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [47]:
cont=[]
for i in list(num):
      cont.append(int(i))

In [48]:
cont

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
cont=[int(i)for i in list(num)]

In [50]:
cont

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
# string constructor instr()
# string literal is '',"",'''''',""""""
# string is a set of squence of character
# string is imutable
# string support indexing
# string support slicing
# string contain number of methods

In [52]:
# modification of string

In [58]:
a="krishna"
print(id(a))

1649878972272

In [59]:
b="kumar"
print(id(b))

1649850806192

In [60]:
print(a+b)
print(id(a+b))

krishnakumar
1649879533872

In [56]:
a=a+b

In [61]:
print(a)
print(id(a))

krishna
1649878972272

In [67]:
c="krishna"
d=10
print(id(c),type(c))
print(id(d),type(d))

1649878972272 <class 'str'>
140728972993608 <class 'int'>

In [68]:
c="krishna"
d="10"
print(id(c),type(c))
print(id(d),type(d))

1649878972272 <class 'str'>
1649783098608 <class 'str'>

In [70]:
print(c+d)  # combining two or more than string together using + opeater called concatination process

krishna10

In [72]:
manish_age=26
manish_name="manish kumar shrivastva"

In [73]:
print("i am manish kumar shrivastva and i am 26")

i am manish kumar shrivastva and i am 26

In [76]:
# F-string/ f-string
manish_age=20
manish_name="Dhanu shrivastva"
print(f"i am {manish_name} and i am {manish_age}")

i am Dhanu shrivastva and i am 20

In [77]:
manish_age=20
manish_name="Dhanu shrivastva"
print(f"i am {manish_age} and i am {manish_name}")

i am 20 and i am Dhanu shrivastva

In [78]:
manish_age=20
manish_name="Dhanu shrivastva"
print(F"i am {manish_name} and i am {manish_age}")

i am Dhanu shrivastva and i am 20

In [81]:
# .formate()
manish_age=20
manish_name="Dhanu shrivastva"
print("i am {} and i am {}".format(manish_name,manish_age))

i am Dhanu shrivastva and i am 20

In [83]:
manish_age=20
manish_name="Dhanu shrivastva"
print("i am {1} and i am {0}".format(manish_age,manish_name))

i am Dhanu shrivastva and i am 20

In [84]:
manish_age=20
manish_name="Dhanu shrivastva"
print("i am {1} and i am {0}".format(manish_name,manish_age))

i am 20 and i am Dhanu shrivastva

In [85]:
# string methods.

In [86]:
# .capitalize()

a="krishna"
a.capitalize()

'Krishna'

In [87]:
a="krishna"
print(a.capitalize())

Krishna

In [88]:
a="krishna"
b=a.capitalize()
print(b)

Krishna

In [89]:
# .casefold()

In [90]:
a="DhaNuDOn420@GmaIL.coM"
print(a.casefold())

dhanudon420@gmail.com

In [91]:
# .endswith()

In [92]:
a="Nikki"

In [93]:
print(a.endswith("i"))

True

In [94]:
a.endswith("ki")

True

In [95]:
a.endswith("k")

False

In [96]:
# .expandtabs()

In [99]:
b="this\tis\tmanish"

print(b)

this	is	manish

In [101]:
b.expandtabs(50)

'this                                              is                                                manish'

In [102]:
b.expandtabs(2)

'this  is  manish'

In [103]:
b.find("is")

2

In [104]:
b.find("manish")

8

In [ ]:
b="this is manish"

In [105]:
b.find("sh")

12

In [106]:
# .isalnum()

In [107]:
a="krishna"

In [108]:
a

'krishna'

In [109]:
a.isalnum()

True

In [110]:
b="1234"

In [111]:
b.isalnum()

True

In [112]:
a.isnumeric()

False

In [113]:
a.isalpha()

True

In [114]:
# .isdecimal()

In [115]:
a.isdecimal()

False

In [116]:
b.isdecimal()

True

In [117]:
a="krishna"

In [118]:
a.find("i")

2

In [3]:
def find(arg1,arg):
    arg1
    j=0
    for i in arg1:
        j+=1
        if i==arg[0]:
            print(j-1)

In [4]:
find("krishna","i")

2

In [5]:
find("krishna","n")

5

In [27]:
find("this is krishna","i")

2
5
10

In [29]:
find("i am krishna","is")

In [31]:
find("krishna","h")

4

In [33]:
b="1234"

In [34]:
b

'1234'

In [35]:
b.isdigit()

True

In [37]:
a="krishna"

In [38]:
a

'krishna'

In [39]:
a.isdigit()

False

In [40]:
a

'krishna'

In [41]:
a.isidentifier()

True